// * GENERAL FORMATTING
#navbar {
  height: 60px;
  width: 100%;
  border: solid 2px $geo-green;
  background-color: black;

  display: flex;
  justify-content: space-between;
  align-items: center;

  a {
    text-align: center;
  }
  .logo {
    padding-left: 40px;
  }
  .icon {
    width: 50px;
    height: 50px;
    padding: 10px;
    margin-right: 40px;
    // border: 2px solid lime;
  }
}

#hamburger-menu {
  display: flex;
  flex-direction: column;
  background-color: white;
  z-index: 1000;
  border-radius: 0 0 4px 4px;
  // box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
  
  position: absolute;
  top: 60px;
  right: -45vw;
  width: 200px;
  height: 200px;

  transition: all .3s ease-in-out;

  .hamburger-link {
    text-align: right;
    padding-right: 15px;
    font-size: 1.5rem;
    margin-bottom: 0;
    // margin-top: 15px;
    color: $geo-purple;

    font-family: $title;
    font-weight: bold;
    text-decoration: none;
    vertical-align: -50%;

    transition: all .5s ease;
  }
  .hamburger-link:hover {
    color: $geo-pale-green;
    text-decoration: underline;
    letter-spacing: .08rem;
  }
}

// * HAMBURGER MENU SLIDE IN ONCLICK
#hamburger-menu.active {
  right: 0;
  opacity: .9;
}

.burger {
  display: block;
  width: 33px;
  height: 5px;
  margin-bottom: 5px;
  position: relative;
  background: $geo-pale-blue;
  border-radius: 3px;
  z-index: 1;

  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

// * HAMBURGER-X TRANSITION
#hamburger.active {
  .burger {
    background: $geo-purple;
  }
  .burger:nth-child(2) {
    opacity: 0;
  }
  .burger:nth-child(1) {
    -webkit-transform: translateY(12px) rotate(45deg);
    transform: translateY(12px) rotate(45deg);
  }
  .burger:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
    transform: translateY(-8px) rotate(-45deg);
  }
}

