
// GEOLLECT COLOUR PALETTE
$geo-pale-green: #7bdcb5;
$geo-green: #00d084;
$geo-pale-blue: #8ed1fc;
$geo-blue: #0693e3;
$geo-purple: #9b51e0;
$geo-teal: #218fc2;

// FONTS
$title: 'Kanit', sans-serif;

// SHADOWS
$blue-lift: 0px 1px 2px 0px rgba(0,255,255,0.7),
1px 2px 4px 0px rgba(0,255,255,0.7),
2px 4px 8px 0px rgba(0,255,255,0.7),
2px 4px 16px 0px rgba(0,255,255,0.7);
