
// GEOLLECT COLOUR PALETTE
$geo-pale-green: #7bdcb5;
$geo-green: #00d084;
$geo-pale-blue: #8ed1fc;
$geo-blue: #0693e3;
$geo-purple: #9b51e0;
$geo-teal: #218fc2;

// FONTS
$title: 'Kanit', sans-serif;